@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-shop_light_blue: #00b8ff;
  --color-shop_dark_blue: #00719c;
  --color-shop_btn_blue: #6495ed;
  --color-shop_banner: #fcf0e4;
  --color-shop-test: #4169e1;
  --color-shop_banner: #387794;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    margin: 0;
  }

  button {
    @apply cursor-pointer;
  }

  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }

  .fashion-pattern {
    background-image:
      radial-gradient(
        circle at 25% 25%,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 2px
      ),
      radial-gradient(
        circle at 75% 75%,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 2px
      );
    background-size: 50px 50px;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
