@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-shop_light_blue: #00b8ff;
  --color-shop_dark_blue: #00719c;
  --color-shop_btn_blue: #009bd6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    margin: 0;
  }

  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }
}
