@import 'tailwindcss';

:root {
  --background: #f1f7f9;
  --foreground: #171717;
}

@theme {
  --color-shop_bg: #f1f7f9;
  --color-shop_light_blue: #0077b6;
  --color-shop_dark_blue: #0a61c9;
  --color-shop_blue_hover: #064089;
  --color-shop_btn_blue: #6495ed;
  --color-shop_banner: #387894;
  --color-shop-test: #4169e1;
  --color-momo: #a50064;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    margin: 0;
  }

  button {
    @apply cursor-pointer;
  }

  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }

  .fashion-pattern {
    background-image:
      radial-gradient(
        circle at 25% 25%,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 2px
      ),
      radial-gradient(
        circle at 75% 75%,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 2px
      );
    background-size: 50px 50px;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
